* {
    margin: 0;
    box-sizing: border-box;
}

#anagram {
    font-family: 'Courier New', Courier, monospace;
    margin: 1ch;
}

#blur {
    width: 0;
    height: 0;
    background-color: rgb(0,0,0,0);
    backdrop-filter: blur(8px);
    position: absolute;
    top: 0;
    z-index: 1000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9F7F7;
    z-index: 0;
}

#checkGuess {
    background-color: #3F72AF;
    font-family: 'Courier New', Courier, monospace;
    border: solid;
    cursor: pointer;
    width: 20ch;
    height: 6ch;
    border-radius: 3ch;
    margin: 2ch;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    width: 100%;
    display: grid;
    grid-template-columns: 18ch 1fr;
    position: fixed;
    top: 50px;
    height: 100vh;
    z-index: 0;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
    padding-left: 6ch;
    overflow: hidden;
    overflow-y: hidden;
    background-color: #3F72AF;
}

.header img {
    float:left;
    padding-right: 6ch;
    margin-top: 2.5px;
    box-sizing: content-box;
}

.header h1 {
    font-family: 'Courier New', Courier, monospace;
    line-height: 50px; 
    height: 50px;
}

.menuContainer {
    width: 18ch;
    height: 100%;
    position: relative;
    text-align: center;
    background-color: #DBE2EF;
    left: 0;
}

.menuContainer a {
    border: 2px solid #112D4E;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    margin: 1ch;
    border-radius: 2ch;
    padding-top: 0.5ch;
    padding-bottom: 0.5ch;
}

.menuContainer a:hover {
    cursor: pointer;
    background-color: #3F72AF;
    color: white;
    font-weight: bold;
}

#startButton {
    background-color: #3F72AF;
    position: relative;
    width: 16ch;
    height: 6ch;
    margin: 2ch;
    text-align: center;
    border-radius: 3ch;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

#startButton:hover {
    cursor: pointer;
}

#userGuess {
    margin: 1ch;
    font-family: 'Courier New', Courier, monospace;
    width: 30ch;
    text-align: center;
    border: 1px solid #DBE2EF;
}

.whiteSpaceMenu{
    width: 18ch;
    height: 0px;
    z-index: 0;
}
