* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: 19, 246, 239;
    --secondary-color: 250, 117, 195;
    --accent-color: 248, 128, 63;
    --background-color: 245, 254, 255;
}



#anagram {
    font-family: 'Poppins', sans-serif;
    margin: 1ch;
}

#blur {
    width: 0;
    height: 0;
    background-color: rgb(0,0,0,0);
    backdrop-filter: blur(8px);
    position: absolute;
    top: 0;
    z-index: 1000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(var(--background-color));
    z-index: 0;
    max-height: 100vh;
    overflow: scroll;
}

#checkGuess {
    background-color: rgba(var(--primary-color));
    font-family: 'Poppins', sans-serif;
    border: none;
    cursor: pointer;
    width: 20ch;
    height: 6ch;
    border-radius: 3ch;
    margin: 2ch;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#checkGuess:hover {
    cursor: pointer;
    background-color: rgba(var(--primary-color));
    font-weight: bold;
}

.frame {
    width: 100%;
    display: grid;
    grid-template-columns: 13ch 1fr;
    position: fixed;
    top: 50px;
    height: 100vh;
    z-index: 0;
    margin-left: 10px;
    margin-top: 10px;
    background-color: rgba(var(--background-color));
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
    padding-left: 1.2ch;
    overflow: hidden;
    overflow-y: hidden;
    background-color: rgba(var(--primary-color));
}

.header img {
    float:left;
    padding-right: 3ch;
    margin-top: 2.5px;
    box-sizing: content-box;
}

.header h1 {
    font-family: 'Poppins', sans-serif;
    line-height: 50px; 
    height: 50px;
    white-space: nowrap;
}

.menuContainer {
    width: 13ch;
    height: Auto;
    position: relative;
    text-align: center;
    background-color: rgba(var(--secondary-color), 0.15);
    left: 0;
    border-radius: 10px;
    margin-bottom: 100vh;
}

.menuContainer a {
    color: black;
    background-color: rgba(var(--secondary-color), 0.3);
    border: none;
    display: block;
    font-family: 'Poppins', sans-serif;
    border-radius: 2ch;
    width: 90%;
    margin: 10px auto;
    padding-top: 0.5ch;
    padding-bottom: 0.5ch;
    border-radius: 10px;
}

.menuContainer a:hover {
    cursor: pointer;
    background-color: rgba(var(--secondary-color), 0.5);
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#startButton {
    background-color: rgba(var(--primary-color));
    position: relative;
    width: 16ch;
    height: 6ch;
    margin: 2ch;
    text-align: center;
    border-radius: 3ch;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

#startButton:hover {
    cursor: pointer;
    background-color: rgba(var(--primary-color));
    font-weight: bold;
}

#scoreboardLink {
    color: rgba(var(--accent-color), 0.7);
}

#scoreboardLink:hover {
    font-weight: bold;
    text-decoration: none;
}

#userGuess {
    margin: 1ch;
    font-family: 'Poppins', sans-serif;
    width: 30ch;
    text-align: center;
    border: 1px solid #DBE2EF;
}

.whiteSpaceMenu{
    width: 18ch;
    height: 0px;
    z-index: 0;
}