.scoreElement {
    background-color: rgba(var(--background-color));
    padding: 1ch;
}

.scoreboard {
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(181, 232, 255));

}

.scoreboardHeader {
    padding: 2ch;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.bodyContainer{
    overflow: scroll;
}

.scoreboard ol {
    list-style: none; 
    counter-reset: my-awesome-counter; 
}
.scoreboard ol li {
    counter-increment: my-awesome-counter;
    position: relative; 
}
.scoreboard ol li::before {
    content: counter(my-awesome-counter) ". ";
    color: rgba(var(--accent-color));
    position: relative;
    text-align: center;
}
