<!doctype html>
<html lang="en">
<body>
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='base.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <title>{% block title %}Daily Conundrum{% endblock %}</title>
    {% endblock %}
</head>
    <main>
        <header class="header">
            <figure>
                <img src="{{ url_for('static', filename='Daily_Logo.png') }}" alt="Daily Conundrum Logo" height="45" width="45">
            </figure>
            <h1>Welcome to Daily Conundrum</h1>
        </header>
        <section id="ruleSection">
            <div id="blur" onclick="showRules()">
                <div class="rules_text">
                    The rules of daily conundrum are simple: you get a scrambled word of 9 characters.<br>
                    It is up to you to find the word hidden within the conundrum in 60 seconds, else the game is over.<br>
                    Do you guess the word, then you will get another 60 seconds to guess the next one, and so forth.<br>
                    The seconds that you have left every time you guess the correct word, will make up your final score.<br>
                    <br>
                    Good luck & have fun!               
                </div>
            </div>
        </section>
        <div class="frame">
            <nav class="menuContainer">
                <a href="/game">Game</a>
                <a href="/scoreboard">Scoreboard</a>
                <a onclick="showRules()">How to Play</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
                <a href="/logout">Log Out</a>
            </nav>
            {% block content %}
            {% endblock %}
        </div>
    </main>
</body>
</html>
