<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <script src="{{ url_for('static', filename='base.js') }}"></script>
    <title>{% block title %}Daily Conundrum{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <main>
        <div class="header">
            <img src="{{ url_for('static', filename='Daily_Logo.png') }}" alt="Daily Conundrum Logo" height="45" width="45">
            <h1>Welcome to Daily Conundrum</h1>
        </div>
        <section id="ruleSection">
            <div id="blur" onclick="showRules()">
                <div class="rules_text">
                    The rules of daily conundrum are simple: you get a scrambled word of 9 characters.
                    It is up to you to find the word hidden within the anagram.
                </div>
            </div>
        </section>
        <div class="frame">
            <nav class="menuContainer">
                <a href="/game">Game</a>
                <a href="/scoreboard">Scoreboard</a>
                <a onclick="showRules()">How to Play</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
                <a href="/logout">Log Out</a>
            </nav>
        </div>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
