{% extends "base.html" %} 

{% block head %} 
{{ super() }}
<script src="{{ url_for('static', filename='game.js') }}"></script>
{% endblock %} 

{% block content %}
  <div class="bodyContainer">
    <div id="startButton">Start the game</div>
    <div id="timeWarning"></div>
    <div class="gameDashboard">
      <div id="anagram">The conundrum will appear here!</div>
      <input type="text" id="userGuess" />
      <div id="checkGuess">Check your Word</div>
      <div id="playerName"></div>
      <div id="score"></div>
      <a href="/scoreboard" id="scoreboardLink">Scoreboard</a>
    </div>
  </div>
{% endblock %}
