<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Conundrum</title>
    <link rel="stylesheet" href="mystyle.css">
    <script src="./app/script.js"></script>
</head>
<body>
    <div class="header">
        <img src="./assets/Daily_Logo.png" height="45" width="45">
        <h1>Welcome to Daily Conundrum</h1>
    </div>
    <div id="blur" onclick="showRules()">
        <div class="rules_text">
            The rules of daily conundrum are simple: you get a scrambled word of 9 characters.
            It is up to you to find the word hidden within the anagram.
        </div>
    
    </div>
    <div class="frame">
        <div class="menuContainer">
            <a>Game</a>
            <a>Scoreboard</a>
            <a onclick="showRules()">How to Play</a>
            <a>About</a>
            <a>Contact</a>
        </div>
        <div class="bodyContainer">
            <div class="Game"> Here comes the game</div>
            <div id="timer" onclick="startTimer()">Start the Clock!</div>
        </div>
    </div>
</body>
</html>
