{% extends "base.html" %} 
{% block head %} 
  {{ super() }}
  <script src="{{ url_for('static', filename='login.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %} 

{% block content %}
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card my-5">
        <form class="card-body cardbody-color p-lg-5" method="post">
          <div class="text-center">
            <div>
              {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                      {% for category, message in messages %}
                          <div class="alert alert-{{ category }}">{{ message }}</div>
                      {% endfor %}
                  {% endif %}
              {% endwith %}
            <img
              src="https://pbs.twimg.com/media/FBvz1jDWEAEQ_Pc?format=jpg&name=small"
              class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
              width="200px"
              alt="profile picture"
            />
          </div>

          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              aria-describedby="emailHelp"
              placeholder="Username"
              autocomplete="given-name"
            />
          </div>
          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Password"
              autocomplete="off"
            />
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-color px-5 mb-5 w-100" id="submitButton" onclick="event.preventDefault(); validateForm();">Login</button>
          </div>
          {% if error %}
          <div class="alert alert-danger">{{ error }}</div>
          {% endif %}
          <div id="emailHelp" class="form-text text-center mb-5 text-dark">
            Not Registered?
            <a href="/register" id="createAcc"> Create an Account</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
