{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <script src="{{ url_for('static', filename='scoreboard.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='scoreboard.css') }}"> 
{% endblock %}
{% block content %}
  <!-- Scoreboard page content goes here -->
  <div class="frame">
    <div></div>
    <div class="scoreboard">
      <div class="scoreboardHeader"><h2><strong>Top scores</strong></h1></div>
      <ol></ol>
      <!-- Content of the scoreboard -->
    </div>
  </div>
  
{% endblock %}

